<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <title>Signup</title>
</head>

<body>
  <form (ngSubmit)="signup()"> 
  <div class="container">
    <img src="assets/images/Sign up.png">
    <div class="signup">
      <h1 class="title"><b>Sign Up</b></h1>
      <form  (submit)="signup()">
        <div class="text-input">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Username"  [(ngModel)]="signupData.email" name="email" required >
        </div>

        <div class="text-input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Password" [(ngModel)]="signupData.password" name="password" required>
        </div>
        <button type="submit" class="signup-btn">SIGN UP</button>
        <div class="create">
          <a (click)="navigateToLogin()"><b>Already registered ? Login</b></a>
        </div>
      </form>
    </div>
  </div>
  </form>
</body>
</html>
