<!-- Aishwarya Ghosh -->
<div class="back">
    <button>Back To review page</button>

    <div class="form">
        <h2 id="registration">Update Your Review </h2>
        <form>
            
            <div ngModelGroup="personalDetails">

                <label for="review_id">Review Id</label>
                <input type="number" id="review_id" name="review_id" [(ngModel)]="review.id" disabled>

                <label for="movie_id">Movie Id</label>
                <input type="number" id="movie_d" name="movie_id" [(ngModel)]="review.movie_id" disabled>

                <label for="user_id">User Id</label>
                <input type="number" id="user_id" name="user_id" [(ngModel)]="review.user_id" disabled>

                <label for="useremail">User Email</label>
                <input type="text" id="useremail" name="useremail" [(ngModel)]="review.useremail" disabled>

                <label for="username">User Name</label>
                <input type="text" id="username" name="username"  [(ngModel)]="review.username" disabled>
            </div>

            <div>
                <label for="rating">Movie Rating</label>
                <br>
                <span class="star-cb-group">
                    <input type="radio" id="rating-5" name="rating" [value]="5" [(ngModel)]="review.rating" />
                    <label for="rating-5">5</label>
                    <input type="radio" id="rating-4" name="rating" [value]="4" [(ngModel)]="review.rating" />
                    <label for="rating-4">4</label>
                    <input type="radio" id="rating-3" name="rating" [value]="3" [(ngModel)]="review.rating" />
                    <label for="rating-3">3</label>
                    <input type="radio" id="rating-2" name="rating" [value]="2" [(ngModel)]="review.rating"/>
                    <label for="rating-2">2</label>
                    <input type="radio" id="rating-1" name="rating" [value]="1" [(ngModel)]="review.rating" />
                    <label for="rating-1">1</label>
                </span>
                <br><br>
            </div>

            <div>

                <label for="review">Your Review</label>
                <input type="text" id="review" name="review" placeholder="Your Review" [(ngModel)]="review.review">

                <label for="sources">Provide Sources</label>
                <input type="text" id="sources" name="sources" placeholder="all sources" [(ngModel)]="review.sources">
            </div>

            <input type="submit"  (click)="updateReview()" value="Update"  id="btn">
            
        </form>
    </div>
</div>

