<!-- Aishwarya Ghosh -->
<div class="back">
    <button (click)="goToReviewList(review.movieId)">Back To review page</button>

    <div class="form">
        <h2 id="registration">Update Your Review </h2>
        <form>
            
            <div ngModelGroup="personalDetails">

                <label for="reviewId">Review Id</label>
                <input type="number" id="reviewId" name="reviewId" [(ngModel)]="review.id" disabled />

                <label for="movieId">Movie Id</label>
                <input type="number" id="movieId" name="movieId" [(ngModel)]="review.movieId" disabled />

                <label for="userId">User Id</label>
                <input type="number" id="userId" name="userId" [(ngModel)]="review.userId" disabled />

                <label for="date">Date</label>
                <input type="text" id="date" name="date" [(ngModel)]="review.date" disabled/>
                
            </div>

            <div>
                <label for="rating">Movie Rating</label>
                <br>
                <span class="star-cb-group">
                    <input type="radio" id="rating-5" name="rating" [value]="5" [(ngModel)]="ratingnum" />
                    <label for="rating-5">5</label>
                    <input type="radio" id="rating-4" name="rating" [value]="4" [(ngModel)]="ratingnum" />
                    <label for="rating-4">4</label>
                    <input type="radio" id="rating-3" name="rating" [value]="3" [(ngModel)]="ratingnum" />
                    <label for="rating-3">3</label>
                    <input type="radio" id="rating-2" name="rating" [value]="2" [(ngModel)]="ratingnum"/>
                    <label for="rating-2">2</label>
                    <input type="radio" id="rating-1" name="rating" [value]="1" [(ngModel)]="ratingnum" />
                    <label for="rating-1">1</label>
                </span>
                <br><br>
            </div>

            <div>

                <label for="reviewNote">Your Review</label>
                <input type="text" id="reviewNote" name="reviewNote" placeholder="Your Review" [(ngModel)]="review.reviewNote" required>

                <label for="source">Provide Sources</label>
                <input type="text" id="source" name="source" placeholder="all sources" [(ngModel)]="review.source" required>
            </div>

            <input type="submit"  (click)="updateReview()" value="Update"  id="btn">
            
        </form>
    </div>
</div>

