mat-card{
    margin: 50px;
    text-align: left;
  }
mat-form-field {
    margin-right: 12px;
  } 
.mat-mdc-form-field{
  width:98%;
  margin: 1%;
}
.mat-50{
    width: 48%;
    margin: 1%;
}
button{
  margin: 2px;
}
.align{ 
  padding-top: 50px;
}