<nav>
  <div class="text">
    <span>Movie Review Aggregator</span>
  </div>
     <ul>
       <li><button routerLink="/movies" (click)="fetchAllMovies()">All Movies</button></li>              
       <li><a class="nav-link text-white" routerLink="/login" routerLinkActive="active" aria-current="page"> 
      Logout </a>  </li>    
     
       <li><button routerLink="/account">Account</button></li>
   </ul>
   </nav>


<div class="row">
  <h2 class="mt-5">{{movie.title}}</h2>
  <div class="p-5">
      <p class="mt-3 mb-3"><strong class="right">Id :</strong> {{movie.id}}</p>
      <hr>
      <h4 class="mt-2 mb-2">Plot Summary :</h4>
      <p class="mt-3 mb-3">{{movie.plotSummary}}</p>
      <hr>
      <p class="release mt-3 mb-3"><strong class="right">Release Date :</strong>  {{movie.releaseDate}}</p>
      <hr>
      <p class="rating mt-3 mb-3"><strong class="right">Movie Rating :</strong> {{movie.rating}} <strong>/</strong> 5</p>
      <hr>
      <p class="rating mt-3 mb-3"><strong class="right">Movie Genre :</strong> {{movie.genre}} </p>
      <hr>
      <h4 class="mt-2 mb-2">Top Cast :</h4>
      <p class="mt-3 mb-3">{{movie.cast}}</p>
      <hr>
      <div class="row">
        <div class="col-lg-4">
          <div class="row mt-2 mb-2">
            <div class="button col-lg-10" >
              <button type="button" class="btn btn-primary" (click)="gotoReviewForm(movie.id,5)">Give Review</button>
              <button type="button" class="btn btn-primary" (click)="goToReviewList(movie.id)">See All Review</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <h4 class="mt-2 mb-2"><Strong>Review Details:</Strong></h4>

      <ul *ngFor="let review of movie.reviews">
        <li class="review-id"><Strong>Review Id : </Strong> {{ review.id }}</li>
        <li class="review-user-id"><Strong>User Id : </Strong> {{ review.userId }}</li>
        <li class="review-rating"><Strong>Rating : </Strong> {{ review.rating }} <strong>/</strong> 10</li>
        <li class="review-note"><Strong>Review Note : </Strong> {{ review.reviewNote }}</li>
        <li class="review-source"><Strong>Source : </Strong> {{ review.source }}</li>
        <li class="review-date"><Strong>Date : </Strong> {{ review.date }}</li>
      </ul>      -->
  </div>
</div>