<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  <title>Login</title>
</head>

<body>
  <div class="container">
    <img src="assets/imagess/login (2).png">
    <div class="login">
      <h1 class="title"><b>Login</b></h1>
      <form (ngSubmit)="login()"> 
        <div class="text-input">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Username" [(ngModel)]="loginData.email" name="email" required>
        </div>

        <div class="text-input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password" required>
        </div>

        <!-- <div class="text-input">
          <i class="fa-solid fa-user"></i>
          <input type="Select" placeholder="Select Role" >
          <!-- <select id="Select Role" class="select-user-type" [(ngModel)]="selectedRole" name="role"> -->
            <option value="" disabled selected>Select Role</option>
            <select id="Select Role" class="select-user-type" [(ngModel)]="loginData.selectedRole" name="role">
            <option value="User">USER</option>
            <option value="Admin">ADMIN</option>
          </select>
        </div> -->

        <button class="login-btn" type="submit">LOGIN</button>
        <!-- <button class="login-btn" type="submit" (click)="login()">LOGIN</button> -->
      </form>
      <div class="create">
        <a (click)="navigateToSignup()"><b>New User? Sign Up</b></a>
      </div>
    </div>
  </div>
</body>

</html>
