<app-admin></app-admin>

<form id="movie-form">
  <div class="card mt-5" style="padding: 20px;">
  <div class="form-group">
      <label>Movie Id:</label>
      <input [(ngModel)]="movie.id" [ngModelOptions]="{standalone: true}">
</div>
  <div class="form-group">
    <label>Movie Title:</label>
    <input [(ngModel)]="movie.title" [ngModelOptions]="{standalone: true}">
</div>
  <div class="form-group">
    <label>Movie Genre:</label>
    <input [(ngModel)]="movie.genre" [ngModelOptions]="{standalone: true}">
    
  </div>
 
  <div class="form-group">
    <label>Top Cast:</label>
    <input [(ngModel)]="movie.cast" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label >Release Date:</label>
    <input type="date" [(ngModel)]="movie.releaseDate" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Plot Summary:</label>
    <textarea [(ngModel)]="movie.plotSummary" [ngModelOptions]="{standalone: true}"></textarea>
  </div>
  <div class="button col-lg-10">
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
  <button type="submit" class="btn btn-primary" (click)="navigatetoMoviedetail()">Close</button>
  </div>
  </div>
</form>
